<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">
    {% block addcss %}
    {% endblock addcss%}
</head>
<body>

<header class="header">
    {% block link %}

    {% endblock link %}
    <div class="logo">
        <img src="{% static 'img/logo.jpg'%}" alt="Logo">
    </div>
    {% block logout%}

    {% endblock logout %}

</header>

    {% block body %}

    {% endblock body %}


</body>
</html>
