{%  extends "base.html" %}

{% load static %}
{% block addcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dlist.css' %}">
    {% endblock addcss%}

{% block link %}
<div class="left-links">
        {% if author.user_type == 'patient' %}
<!--            <a href="{% url 'posts'%}">Blogs</a>-->
            <a href="{% url 'dashboard' %}">Dashboard</a>
        {% else %}
            <a href="{% url 'create'%}">Create Blog</a>
            <a href="{% url 'dashboard' %}">Dashboard</a>
        {% endif %}
    </div>
{% endblock link %}

{% block logout%}
<div class="right-links">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% endblock logout %}

{% block body %}

<h1>Doctor List</h1>
    <ul>
    {% for doctor in doctors %}
        <li>
            <h3>{{ doctor.first_name }}  {{ doctor.last_name }}</h3>
            <img src="{{ doctor.profile_picture.url }}" alt="Profile Image" class="profile-image">
            <a href="{% url 'book_appointment' doctor_id=doctor.id %}" class="appointment-link">Book Appointment</a>

        </li>
    {% endfor %}
    </ul>


{% endblock body %}